#set($layout = "/layout/userWorkbenchLayout.vm")
#set($title = "标题")
<table class="table">
    <caption class="text-center">表格标题</caption>
    <tbody>
        <tr>
            <td>标题：</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>内容：</td>
            <td><textarea></textarea></td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-12 text-center">
        <button class="btn btn-default">保存</button>
    </div>
</div>