<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.document.report.dao.IDocumentTemplateMapper">

    <select id="get" resultType="com.document.report.model.po.DocumentTemplatePO">
        SELECT *
          FROM DocumentTemplate
         WHERE IsDel = 0
    </select>
    
    <insert id="insert" parameterType="com.document.report.model.po.DocumentTemplatePO">
        INSERT INTO DocumentTemplate
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="Code != null">Code,</if>
          <if test="Name != null">Name,</if>
          <if test="Path != null">Path,</if>
          <if test="Sort != null">Sort,</if>
          <if test="Remark != null">Remark,</if>
          <if test="CreateAt != null">CreateAt,</if>
          <if test="ModifyAt != null">ModifyAt,</if>
      </trim>
        VALUES
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="Code != null">#{Code},</if>
          <if test="Name != null">#{Name},</if>
          <if test="Path != null">#{Path},</if>
          <if test="Sort != null">#{Sort},</if>
          <if test="Remark != null">#{Remark},</if>
          <if test="CreateAt != null">#{CreateAt},</if>
          <if test="ModifyAt != null">#{ModifyAt},</if>
      </trim>
    </insert>
</mapper>